<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/stylehud.css">
</head>
<body>
    <nav>
        <div class="options-topbar">
            <a href="/portafolio">Portafolio</a>
            <a href="/gitHub">GitHub</a>
            <a href="/contact">Contacto</a>
        </div>
        <div class="img-github">
            <img src="https://avatars.githubusercontent.com/u/228155798?v=4&size=64" alt="Souris" width="30" height="30">
        </div>
    </nav>
</body>
</html>