<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/stylehud.css">
</head>
<body>
    <nav>
        <div class="options-topbar">
            <a href="/portafolio">Portafolio</a>
            <a href="/gitHub">GitHub</a>
            <a href="/contact">Contacto</a>
        </div>
        <div class="img-github">
            <img src="https://avatars.githubusercontent.com/u/228155798?v=4&size=64" alt="Souris" width="30" height="30">
        </div>
    </nav>`
    <section>
        <div class="social-grid">
            <a href="TU_GITHUB" class="card github">
                <div class="top">

                </div>
                <div class="left">

                </div>
                <div class="right">

                </div>
            </a>
            <a href="TU_YOUTUBE" class="card youtube">
                <div>

                </div>
                <div>

                </div>
                <div>
                    
                </div>
            </a>
            <a href="TU_TIKTOK" class="card tiktok">
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
            </a>
            <a href="TU_INSTAGRAM" class="card instagram">
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
            </a>
            <a href="Tu_TWITTER" class="card twitter">
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
            </a>
            <a href="Tu_LINKEDIN" class="card linkedin">
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
            </a>
        </div>
    </section>
</body>
</html>