body{
    background-color: #0a0f14;
    margin: 0;
}
nav{
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    position: sticky;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.options-topbar{
    justify-content: left;
}
.options-topbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
}
.options-topbar a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
.img-github{
    justify-content: right;
    overflow: hidden;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: box-shadow 0.3s ease;
}
.img-github img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; 
}
.img-github:hover{
    box-shadow: 0 0 15px rgba(0, 195, 255, 0.4);
}
.img-github img:hover{
    transform: scale(1.1);
}
.social-grid{
    perspective: 1500px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
}
.card{
    border: solid 5px black;
    transform-style: preserve-3d;
}
.card.github{
    grid-column: span 6;
    transform: rotateY(60deg);
}
.card.youtube{
    grid-column: span 3;
}
.card.tiktok{
    grid-column: span 3;
}
.card.instagram{
    grid-column: span 2;
}
.card.twitter{
    grid-column: span 2;
}
.card.linkedin{
    grid-column: span 2;
}